.search {
  position: relative;
}
.iconsearch {
  fill: #7b7b7b;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}
.clear {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.iconclose {
  fill: #7b7b7b;
  width: 20px;
  height: 20px;
}
.input {
  border: 1px solid #7b7b7ba4;
  border-radius: 4px;
  width: 300px;
  height: 40px;
  padding: 0 40px 0 40px;
}
